# Supabase (Recommended)
# 1. Create a project at supabase.com
# 2. Get URL and Anon Key from Project Settings -> API
SUPABASE_URL=https://eevidrhkopijhjsxjurx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVldmlkcmhrb3Bpamhqc3hqdXJ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzOTY0NzAsImV4cCI6MjA5Mzk3MjQ3MH0.ImSMvnlI6qI2kdsENWbFvJ7oXrwZDfdyaNU0LkuFNvM